* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif, raleway;
    font-size: 15px;
    line-height: 1.4;
}

#main {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
/* common ------ */
p {
    margin-top: 15px;
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-grey {
    color: #757575;
}

.text-black {
    color: #000;
}

.text-green {
    color: #009688;
}
/* ------ End common */

/* Sidebar ------ */
#sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: #fff;
}

#content {
    margin-left: 300px;
}

.sidebar__container {
    margin: 16px;
}

.sidebar__nav i {
    margin-right: 16px;
    width: 15px;
}

.sidebar__nav a {
    text-decoration: none;
    display: block;
    padding: 8px 16px;
}

.sidebar__nav a:hover {
    background-color: #ccc;
    color: #000;
}

.sidebar__img {
    width: 120px;
    border-radius: 5%;
}

.sidebar__social {
    padding: 16px;
}

.sidebar__social i {
    font-size: 16px
}

.sidebar__social i:hover{
    opacity: 0.6;
}

/* ------ End sidebar */

@font-face {
    font-family: raleway;
    src: url('assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}