* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif, raleway;
    font-size: 15px;
    line-height: 1.4;
}

#main {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
/* common ------ */
p {
    margin-top: 15px;
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-grey {
    color: #757575;
}

.text-black {
    color: #000;
}

.text-green {
    color: #009688;
}
.brg-black {
    background-color: #000;
    color: #fff;
}
    /*----By Thang*/
    .pad-12-24{
        padding: 12px 24px;
    }
    .pad-24-8 {
        padding: 24px 0px;
    }
    .br-grey {
    background-color: #9e9e9e !important;
    }
    .font-36 {
        font-size: 36px !important;
    }
    .font-20 {
        font-size: 20px;
    }
    .font-15 {
        font-size: 15px;
    }
    .mr-15-0 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .pad-0-8 {
        padding: 0px 8px;
    }
    .pad-8 {
        padding: 8px;
    }
    .pad-8-16 {
        padding: 8px 16px;
    }


    /* ------ End Thang */


/* ------ End common */

/* Sidebar ------ */
#sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: #fff;
}

#content {
    margin-left: 300px;
}

.sidebar__container {
    margin: 16px;
}

.sidebar__nav i {
    margin-right: 16px;
    width: 15px;
}

.sidebar__nav a {
    text-decoration: none;
    display: block;
    padding: 8px 16px;
}

.sidebar__nav a:hover {
    background-color: #ccc;
    color: #000;
}

.sidebar__img {
    width: 120px;
    border-radius: 5%;
}

.sidebar__social {
    padding: 16px;
}

.sidebar__social i {
    font-size: 16px
}

.sidebar__social i:hover{
    opacity: 0.6;
}

/* ------ End sidebar */

@font-face {
    font-family: raleway;
    src: url('assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}



/* Contact ------ */
.contact-info {
    display: flex;
}
.contact-info-item {
    flex-grow: 1;
}

.contact-info-item__icon{
    display: flex;
    justify-content: center;
}
.contact-info-item__text{
    display: flex;
    justify-content: center;
}
.contact-info-item--darkgrey{
    background-color: #616161 !important;
    color: #fff !important;
}
.contact-info-item--crystal {
    background-color: #009688!important;
    color: #fff !important;
}
.contact-form-section {
    display: flex;
    flex-direction: column;
}
/* ------ End contact */